<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>MMO - A Propos</title>
		<link rel="stylesheet" href="stylesheets/style.css" />
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	</head>
       
	<body>	        
       	<h3>A propos</h3>
       	
       	<div id='connexion'>
			<p>Ce projet est dans un premier temps a but pédagogique.</p>
			<p>Il est envisageable que ce jeu soit rendu publique d'ici quelques mois.</p>
			<p>Ce 'mmo' est intégralement développé par <strong>Thomas Houlier</strong> à l'aide de technologies récentes (HTML5, Node.js, WebSocket).</p>
		</div> <!--/connexion -->  
		
		<div id='techno'>
			<p>Powered by : </p>
			<img src='images/divers/html5_logo.png' alt='html5' />
			<img src='images/divers/css3_logo.png' alt='css3' />
			<img src='images/divers/JavaScript_logo.png' alt='JavaScript' />
			<img src='images/divers/jquery_logo.png' alt='JQuery' />
			<img src='images/divers/Nodejs_logo.png' alt='NodeJS' />
			<img src='images/divers/logo-mysql.png' alt='MySQL' />
		</div>	<!--/techno --> 	

		<div id='copyright'>
			<p>Copyright &copy; Thomas Hourlier</p>
		</div>	<!--/copyright --> 
	</body>
</html>